.about-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
}

.about-us h1 {
  font-size: 4.6rem;
  color: #1a4264;
  margin-bottom: 2.5rem;
}

.about-us p {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.about-us img {
  border-radius: 0.5rem;
  overflow: hidden;
}
