.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.navbar-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
  font-size: 1.8rem;
  font-weight: 500;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.navbar-link {
  text-align: center;
  padding: 1.5rem 3rem;
  background: #1a4264;
  border: 0.2rem solid #cca65c;
  color: #f6f6f6;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navbar-link.connect-link {
  background: #cca65c;
  border: 0.2rem solid #1a4264;
}

.navbar-link:hover {
  background: #2f77b5;
}

.navbar-link.connect-link:hover {
  background: #bb8f3a;
}

.navbar .menu-icon {
  font-size: 7.5rem;
  display: none;
}

@media (max-width: 1000px) {
  .navbar {
    position: absolute;
    top: 100%;
    right: 5rem;
  }

  .hidden {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .navbar .menu-icon {
    display: block;
    z-index: 10;
    position: absolute;
    top: -37%;
    right: -3%;
    cursor: pointer;
  }

  .navbar-list {
    background: rgba(0, 0, 0, 0.65);
    padding: 1.5rem 0;
    gap: 0;
    align-items: flex-start;
    flex-direction: column;
    z-index: 10;
    border-radius: 0 0 0.5rem 0.5rem;
  }

  .navbar-link,
  .navbar-link.connect-link {
    background: none;
    border: none;
    box-shadow: none;
    text-align: left;
  }

  .navbar-link:hover,
  .navbar-link.connect-link:hover {
    background: none;
    transform: translateX(10px);
    color: #2f77b5;
  }
}
