.contact-page-form {
  flex: 1;
  padding: 5rem;
  background: #1a4264;
  color: #f6f6f6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
  border-radius: 1.5rem;
}

.contact-page-form h3 {
  font-size: 3.2rem;
  grid-column: 1/-1;
}

.input-team {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-team.msg {
  grid-column: 1/-1;
}

.input-team label {
  font-size: 1.8rem;
  font-weight: 500;
}

.input-team input,
.input-team textarea {
  padding: 1.5rem;
  font-size: 2rem;
  border: 0.3rem solid #cca65c;
  border-radius: 0.5rem;
  outline: none;
}

.input-team.msg input,
.input-team textarea {
  min-height: 15rem;
  color: #1a4264;
  font-weight: 700;
}

.submit-btn {
  grid-column: 1/-1;
  padding: 1.5rem;
  background: #cca65c;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1.8rem;
}

@media screen and (max-width: 1000px) {
  .contact-page-form {
    width: 100%;
  }
}

@media screen and (max-width: 760px) {
  .contact-page-form {
    grid-template-columns: 1fr;
  }

  .input-team {
    gap: 1rem;
    font-size: 2.2rem;
  }

  .input-team label {
    font-size: 1.8rem;
  }
}
