@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* #050d13 */
/* #0f273c */
/* #1a4264 */
/* #2f77b5 */
/* #4891cf */

/* #94712e */
/* #bb8f3a */
/* #cca65c */
/* #e4d0aa */
/* #f0e6d1 */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: 0.3s;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  background: #f6f6f6;
  color: #333;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  object-fit: cover;
}

button {
  border: none;
  outline: none;
}

input {
  outline: none;
  font-family: inherit;
  font-weight: 700;
  color: #1a4264;
}

.container {
  margin: 0 auto;
  max-width: 128rem;
  width: 90%;
}

.section-padding {
  padding-top: 9rem;
  padding-bottom: 9rem;
}

@media (max-width: 1350px) {
  html {
    font-size: 57.5%;
  }
}

@media (max-width: 1225px) {
  html {
    font-size: 52.5%;
  }
}

@media (max-width: 1095px) {
  html {
    font-size: 47.5%;
  }
}
