@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* #1a4264 */
/* #cca65c */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: 0.3s;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  background: #f6f6f6;
  color: #333;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  object-fit: cover;
}

button {
  border: none;
  outline: none;
}

input {
  outline: none;
}

.container {
  margin: 0 auto;
  max-width: 128rem;
  width: 90%;
}

.section-padding {
  padding-top: 9rem;
  padding-bottom: 9rem;
}
